<% content_for :javascript do %>
  <script>
    .activity();
    $(document).ready(function() {
      $('#innerNav a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })
    });
  </script>
<% end %>

<div id="board" style="max-width:600px;">
  <div id="board-nav">

    <ul class="nav nav-tabs" id="innerNav">
      <li class="active">
        <a href="#user" data-toggle="tab"><span class="icon-user"></span> <%= current_user.screen_name[0].upcase + current_user.screen_name[1..-1] %></a>
      </li>
      <li><a href="#profile" data-toggle="tab"><span class="icon-edit"></span> Profile</a></li>
    </ul>

  </div>


  <div class="tab-content">
    <div class="tab-pane fade in active" id="user">
      <% if @games_played < 1 %>
        <h1>Create. Play. Win.</h1>
        <p>
        <%= @user["first_name"] %>, you don't have any stats. Once you play a game, your high score will show up on this page.
        </p>
        <%= form_tag games_path do %>
          <%= hidden_field_tag :id, @user.id %>
          <%= submit_tag "Create Game", :class => "btn btn-primary" %>
        <% end %>
      <% else %>
        <h1 style="color:#8A200D;">Welcome back to Go Fish!</h3>
        <br />
        <table class="table">
          <thead>
            <tr style="color: #8A200D">
              <th>Name</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Ties</th>
              <th>Games</th>
            </tr>
          </thead>
          <tbody>
            <th><%= @user["screen_name"] %></th>
            <th><%= @wins %></th>
            <th><%= @losses %></th>
            <th><%= @ties %></th>
            <th><%= @games_played %></th>
          </tbody>
        </table>
        <%= form_tag games_path do %>
          <%= hidden_field_tag :id, @user.id %>
          <%= submit_tag "Create Game", :class => "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="profile">
      <h4><%= "#{current_user.first_name} #{current_user.last_name} - #{current_user.screen_name}" %></h4>
      <h4><%= current_user.email %></h4><br/>
      <h4><%= current_user.address.street %></h4>
      <h4><%= current_user.address.city + ", #{current_user.address.state} #{current_user.address.zip}" %><h4>
    </div>

  </div>

</div>
