<div id="board">
  <% if @games_played < 1 %>
    <h1>Create. Play. Win.</h1>
    <p>
    <%= @user["first_name"] %>, you don't have any stats. Once you play a game, your high score will show up on this page.
    </p>
  <% else %>
    <h1>Welcome back,  <%= @user["first_name"] %></h3>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Ties</th>
          <th>Games</th>
        </tr>
      </thead>
      <tbody>
        <th><%= @user["screen_name"] %></th>
        <th><%= @wins %></th>
        <th><%= @losses %></th>
        <th><%= @ties %></th>
        <th><%= @games_played %></th>
      </tbody>
    </table>
  <% end %>
  <%= form_tag games_path do %>
    <%= hidden_field_tag :id, @user.id %>
    <%= submit_tag "Create Game", :class => "btn btn-primary" %>
  <% end %>
</div>
