<%live_player = @game.players[0]%>

<% content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.alert').bind('closed', function () {
        // do something…
        location.reload();
      })
    });
  </script>
<% end %>  

<title>Go Fish Game - <%=live_player.name%></title>
<% if !@turn %>
  <meta http-equiv="refresh" content="6" />
<% end %>

<div id="player-right">
  <%current_player = @game.players[3]%>
  <h3><%="#{current_player.name} - Books: #{current_player.books.size}"%></h3>
  <div style="padding-left: 20px;">
    <%current_player.cards.each do%>
      <img src="../img/backs_blue.png" style="float:left; width:<%= (250/current_player.cards.size) %>px; margin-left:-<%= 51/current_player.cards.size %>px;" />
    <%end%>
  </div>
</div>

<div id="player-top">
  <%current_player = @game.players[2]%>
  <h3><%="#{current_player.name} - Books: #{current_player.books.size}"%></h3>
  <div style="padding-left: 20px;">
    <%current_player.cards.each do%>
      <img src="../img/backs_blue.png" style="float:left; width:30px; margin-left:-<%= 51/current_player.cards.size/1.5 %>px;" />
    <%end%>
  </div>
</div>

<div id="game-board">
  <% if @game.game_messages && (@game.game_messages_title != []) %>
    <% if @game.game_messages.include? "Go fish!" %>
      <% alert = "alert alert-error fade in" %>
    <% else %>
      <% alert = "alert alert-success fade in" %>
    <% end %>
    <div class="<%=alert%>">
      <button type="button" class="close" data-dismiss="alert" href="#">×</button>
      <h4 class="alert-heading"><%= @game.game_messages_title %></h4>
      <p>
        <% @game.game_messages.each do |message| %>
          <%= message %><br />
        <% end %>
      </p>
    </div>
  <% end %>
  <%if @turn%>
    <%live_player = @game.players.first%>

    <div id="status" style="padding-bottom:5px;"><h2><%=live_player.name%>, it's your turn!<h2></div>
    <%= form_tag play_path do %>
      <h3 style="float:left; margin-top:-8px; padding-right:5px;">Player: </h3>
      <% opponents = @game.players.reject {|player| player == live_player} %>
      <%= select_tag "chosen_player", options_from_collection_for_select(opponents, :name, :name), :class => "span2", :style => "margin-bottom:-8px;"%><br /><br />

      <h3 style="float:left; margin-top:-8px; padding-right:18px;">Rank: </h3>
      <%= select_tag "chosen_rank", options_from_collection_for_select(live_player.cards, :rank, :rank), :class => "span2", :style => "margin-bottom:-8px;"%><br /><br />

      <%= hidden_field_tag :key, @game_result.id %>

      <%= submit_tag "Request Card(s)", :class => "btn btn-primary" %>
    <% end %>
  <% end %>
  <h3 style="float:left; margin-top:1px; padding-right:5px;">Deck Of Cards: <%=@game.deck_of_cards.cards.size%> card(s) remaining</h3>
</div>

<div id="player-left">
  <%current_player = @game.players[1]%>
  <div style="padding-left: 20px;">
  <h3><%="#{current_player.name} - Books: #{current_player.books.size}"%></h3>
    <%current_player.cards.each do%>
      <img src="../img/backs_blue.png" style="float:left; width:<%= (250/current_player.cards.size) %>px; margin-left:-<%= 51/current_player.cards.size %>px;" />
    <%end%>
  </div>
</div>

<div id="player-bottom">
  <h3><%="#{live_player.name} - Books: #{live_player.books.size}"%></h3>
  <div style="padding-left: 40px;">
    <%live_player.cards.each do |card|%>
      <%if card.rank.class == Fixnum%>
        <%rank_for_filename = card.rank%>
      <%else%>
        <%rank_for_filename = card.rank[0].downcase%>
      <%end%> 
      <img src="../img/<%= card.suit[0].downcase %><%= rank_for_filename %>.png" style="float:left; width:50px; margin-left:-<%= 100/current_player.cards.size %>px;" />
    <%end%>
  </div>
</div>
