<div id="board">
  <h1>Welcome back, <%= @user["name"][0].upcase + @user["name"][1..-1] %></h3>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <%# <th>High Score</th> %>
        <%# <th>Wins</th> %>
        <%# <th>Losses</th> %>
      </tr>
    </thead>
    <tbody>
      <th><%= @user["name"] %></th>
      <%# <th><%= @player_stats["high score"] %1></th> %>
      <%# <th><%= @player_stats["number of wins"] %1></th> %>
      <%# <th><%= @player_stats["games played"]-@player_stats["number of wins"] %1></th> %>
    </tbody>
  </table>
  <form name="start-game" action="/game/new" method="post">
    <input type='hidden' name="name" value=<%=@user["name"][0].upcase + @user["name"][1..-1]%> />
    <input class="btn btn-primary" type="submit" value="Create Game" />
  </form>
</div>
